.mobile {
    display: none;

    @include media($tablet) {
        display: block;
    }
}

.homesection {
    height: 92.8vh;
    width: 100%;
    @include flex(column, center, center);
    padding: 0;
    margin: 0;
    background: linear-gradient(to bottom right, $sneakerorange, rgba(155, 105, 55, 0.863));

    @include media($tablet) {
        padding: 0 $paddingsideDesktop;
        @include flex(row, space-between, center);
        height: 76.5vh;
        background: linear-gradient(to bottom right, $sneakerorange, rgba(90, 84, 78, 0.863));
    }
}

.hometext {
    width: 90%;
    text-align: left;
    padding: 0 $paddingsides;
    line-height: 1.5;
    height: 30vh;
    color: $altTextColor;

    @include media($tablet) {
        padding: 0;
        height: auto;
        line-height: 1.5;
        width: 50%;
    }


    h1 {

        font-size: 25pt;

        @include media($tablet) {
            font-size: 35pt;
        }
    }

    h2 {

        font-size: 20pt;

        @include media($tablet) {}
    }

    p {
        margin-left: 5px;
        height: 8vh;

        &:hover {
            color: $altTextColor;
        }
    }

    span {
        width: 87%;
        @include flex(row, space-between, center)
    }

    a {
        &:hover {
            color: $altTextColor;
        }

        padding: 0;
        width: 45%;

        button {

            @include btn;
            transition: background 1s, color 2s;

            &:hover {
                background: $sneakerorange;
                color: $altTextColor;
            }
        }
    }
}

.links {
    button {
        padding: $padding;
    }
}

.development {
    @include media($tablet) {
        height: 70vh;
        @include flex(column, center, center);
    }

    .setting {
        @include flex(row, center, center);
        @include media($tablet) {
            @include flex(row, center, center);
        }

        svg {
            width: 56px;
            align-self: flex-end;
            fill: hsl(26, 100%, 55%);
            animation: Applogospin 3s linear -1s infinite reverse forwards;
            
            @include media($tablet) {
                margin-left: 1em;
                position: relative;
            }
        }
    }

}



.error404 button {
    display: block;
    padding: 15px 20px;
    border: none;
    color: #fff;
    background-color: hsl(26, 100%, 55%);
    font-size: 15px;
    font-weight: bold;
    letter-spacing: 2px;
    border-radius: 7px;
}

@keyframes Applogospin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}