* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    outline: none;
    text-decoration: none;
    list-style-type: none;
}

html {
    font: {
        family: $fontStack;
    }
}

body {
    overflow: auto;
    box-sizing: border-box;
    color: $textColor;
}

h1 {
    @include heading;
}

button {
    cursor: pointer;
    color: $altTextColor;
}

form {
    width: 100%;
    margin: 1em 0 3em 0;

    @include media($tablet) {
        margin: 0;
        @include flex(column, center, flex-start);
    }
}

p {
    cursor: default;

    &:hover {
        color: $textColor;
    }
}

small {
    display: block;
    text-align: center !important;
    margin: auto;
    padding: 0 2em;
}

a {
    letter-spacing: 2px;
    color: $textColor;
    &:hover{
        color: $sneakerorange;
    }
}