$fontStack: 'Poppins',sans-serif;
$textColor:#150C21;
$altTextColor:white;
$headingFontSize:4vh;
$fontSize :18vh;
$sneakerorange:hsl(26, 100%, 55%);
$paddingsides: 2vw;
$paddingsideDesktop: 8vw;
$padding: 1vw 1.5vw;
$atcColor: #1207AB;
$btn_backgroundColor : #0079c1;
$labelColor:#150C21;
$borderColor:#DFDFDF;
$inputBgColor:#dad8d8;
$commonBgColor:#E8FBFF;
$borderradius:5px;
$mt:1rem;
$borderwidthh1:2vh;
$border: $borderwidthh1 solid $commonBgColor;
$equalWidth:45%;
// MEDIA QUERIES
$android: "540px";
$tablet: "800px";
$laptop: "1024px";
$tv: "1600px";