.bookmarks {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px;
}

.bookmark {
  width: 300px;
  padding: 20px;
  margin: 10px 0;
  background-color: #fff;
  box-shadow: 2px 2px 8px rgb(211, 206, 206);
}

/* .bookmark p {
  width: 250px;
} */

.bookmark button {
  margin-top: 15px;
  padding: 10px 15px;
  border: 0;
  border-radius: 4px;
  font-size: 16px;
  font-weight: 700;
  background: hsl(26, 100%, 55%);
  color: rgb(255, 255, 255);
}

.bookmark button:hover {
  background: hsl(26, 97%, 47%);
}
