.error404 {
  padding: 30px;
  background-color: #eee;
  /* height: 80vh; */
}

.error404-content {
  width: 700px;
  margin-left: 20%;
  margin-top: 5%;
}
.error404 h2 {
  font-size: 2.5rem;
  font-weight: bold;
  color: hsl(26, 100%, 55%);
  margin-bottom: 50px;
}

.error404 button {
  padding: 15px 20px;
  border: none;
  color: #fff;
  background-color: hsl(26, 100%, 55%);
  font-size: 15px;
  font-weight: bold;
  letter-spacing: 2px;
  border-radius: 7px;
}

button:hover {
  background-color: hsl(26, 80%, 49%);
}

@media screen and (max-width: 768px) {
  .error404-content {
    max-width: 600px;
    margin-left: 20px;
  }

  .error404 h2 {
    font-size: 2rem;
    margin-bottom: 30px;
  }
}

@media screen and (max-width: 425px) {
  .error404-content {
    max-width: 300px;
    margin-left: 0px;
  }

  .error404 h2 {
    font-size: 1.7rem;
  }

  .error404 button {
    padding: 12px 15px;
  }
}
