.login {
  max-width: 500px;
  padding: 20px;
  margin: 30px auto;
  border: 3px solid hsl(26, 72%, 46%);
  /* height: 80vh; */
  border-radius: 10px;
}

.login__text {
  font-size: 2rem;
  color: hsl(26, 100%, 55%);
  text-align: center;
  font-weight: 700;
}

.login form {
  /* margin-left: 20px; */
  padding: 30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.login label {
  font-size: 1.2rem;
  padding: 10px;
}

.login input {
  width: 400px;
  padding: 15px;
  border: 1px solid hsl(26, 100%, 55%);
  border-radius: 4px;
  box-shadow: 2px 2px 8px rgb(194, 174, 174);
  transition: all 0.5s ease-in-out;
}

.login input:focus {
  outline: none;
  width: 420px;
}

.login button {
  margin-top: 30px;
  width: 200px;
  padding: 12px;
  border-radius: 7px;
  font-size: 1.2rem;
  border: none;
  background: hsl(26, 100%, 55%);
  color: #fff;
  cursor: pointer;
}

.login button:hover {
  background: hsl(26, 93%, 48%);
}

.login button:disabled {
  background: #bbb;
  cursor: not-allowed;
}

.login__link-text {
  font-size: 1.2rem;
  color: hsl(26, 100%, 55%);
  text-align: center;
  font-weight: 700;
  margin-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .login {
    max-width: 500px;
    margin-top: 50px;
  }
  .login form {
    margin-left: 0;
    padding: 20px;
  }

  .login input {
    width: 380px;
  }

  .login input:focus {
    width: 400px;
  }
}

@media screen and (max-width: 425px) {
  .login {
    max-width: 380px;
  }

  .login label {
    font-size: 1rem;
  }
  .login input {
    width: 300px;
    margin-bottom: 10px;
  }

  .login input:focus {
    width: 320px;
  }

  .login button {
    width: 170px;
    font-size: 1rem;
  }

  .login__link-text {
    font-size: 1rem;
  }
}

@media screen and (max-width: 375px) {
  .login {
    max-width: 300px;
  }

  .login input {
    width: 220px;
  }

  .login input:focus {
    width: 230px;
  }

  .login button {
    width: 130px;
  }
}
