nav {
  padding: 5px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 4%;
  border-bottom: 1px solid #ddd;
}

.menu {
  display: flex;
  padding: 20px;
  justify-content: space-around;
  align-items: center;
}

.menu h2 {
  font-size: 1.5rem;
  margin-right: 30px;
  color: hsl(26, 75%, 42%);
}

.menu a {
  text-decoration: none;
}
.menu h2,
.menu p {
  padding: 4px 10px;
  letter-spacing: 2px;
  cursor: pointer;
}

.menu h2:hover,
.menu p:hover {
  color: hsl(26, 100%, 55%);
}

.mobile-menu {
  display: none;
}
.profile {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.profile svg {
  font-size: 30px;
  margin-right: 20px;
  color: hsl(26, 100%, 55%);
}

.profile svg:hover {
  color: hsl(26, 75%, 42%);
}

/* .profile img {
  width: 40px;
  object-fit: contain;
} */

/* .links {
  padding: 5px;
} */
.links button {
  margin-left: 7px;
  padding: 8px 15px;
  border: 0;
  border-radius: 5px;
  font-size: 1rem;
  color: #fff;
  font-weight: 600;
  letter-spacing: 2px;
  background-color: hsl(26, 100%, 55%);
}

@media screen and (max-width: 768px) {
  nav {
    padding: 5px;
    margin: 0;
  }

  .menu {
    display: none;
  }

  .mobile-menu {
    display: block;
    padding: 10px;
    position: relative;
    transition: all 2s ease-in;
  }

  .hamburger {
    display: flex;
    justify-content: space-around;
    align-items: center;
  }

  .hamburger svg {
    font-size: 20px;
    margin-right: 20px;
  }

  .hamburger h2 {
    /* letter-spacing: 2px;
    cursor: pointer; */
    display: none;
  }

  .hamburger h2:hover {
    color: hsl(26, 100%, 55%);
  }

  .mobile-content {
    z-index: 1;
    background-color: #fff;
    width: 400px;
    height: 100vw;
    position: absolute;
    top: -5px;
    left: -5px;
    box-shadow: 2px 2px 5px rgb(224, 211, 211);
    padding: 20px;
  }

  .mobile-content svg {
    font-size: 25px;
    font-weight: lighter;
  }

  .mobile-content p {
    padding: 20px;
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 425px) {
  .mobile-content {
    width: 250px;
    height: 100vh;
  }
}

@media screen and (max-width: 320px) {
  .mobile-content {
    width: 200px;
    /* height: 100vh; */
  }
}
