@import url("https://fonts.googleapis.com/css2?family=Fira+Code:wght@500&family=IBM+Plex+Sans&display=swap");
* {
  font-family: "Fira Code", monospace;
  font-family: "IBM Plex Sans", sans-serif;
}

.app {
  max-width: 100vw;
}
