.loader-container {
  position: absolute;
  left: 45%;
  top: 45%;
  transform: translate(45%, -45%);
  padding: 10px;
}

.loader {
  width: 50px;
  height: 50px;
  border-top: 7px solid hsl(26, 100%, 55%);
  border-bottom: 7px solid hsl(26, 100%, 55%);
  border-radius: 50%;
  animation: spinner 3s linear infinite;
}

@keyframes spinner {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}
